<?xml version="1.0"?>
<config>
    <modules>
        <Itaro_Sitemaps>
            <version>0.1.0</version>
        </Itaro_Sitemaps>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Itaro_Sitemaps before="Mage_Adminhtml">Itaro_Sitemaps</Itaro_Sitemaps>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sitemaps>
                    <file>sitemaps.xml</file>
                </sitemaps>
            </updates>
        </layout>
        <menu>
            <catalog translate="title" module="sitemaps">
                <children>
                    <itaro_sitemaps>
                        <title>Itaro Sitemaps</title>
                        <sort_order>999</sort_order>
                        <action>adminhtml/sitemaps/index</action>
                    </itaro_sitemaps>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children> 
                        <catalog>
                            <children>
                                <itaro_sitemaps translate="title" module="sitemaps">
                                    <title>Itaro Sitemaps</title>
                                </itaro_sitemaps>      
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <sitemaps>
                <use>standard</use>
                <args>
                    <module>Itaro_Sitemaps</module>
                    <frontName>sitemaps</frontName>
                </args>
            </sitemaps>
        </routers>
        <layout>
           <updates>
                <sitemaps>
                     <file>sitemaps.xml</file>
                 </sitemaps>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itaro_Sitemaps>
                     <files>
                          <default>Itaro_Sitemaps.csv</default>
                     </files>
                </Itaro_Sitemaps>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <sitemaps>
                <class>Itaro_Sitemaps_Model</class>
                <resourceModel>sitemaps_resource</resourceModel>
            </sitemaps>
            <sitemaps_resource>
                <class>Itaro_Sitemaps_Model_Resource</class>
                <entities>
                    <sitemap>
                        <table>itaro_sitemaps</table>
                    </sitemap>
                    <type>
                        <table>itaro_sitemap_types</table>
                    </type>
                </entities>
            </sitemaps_resource>
        </models>
        <resources>
            <sitemaps_setup>
                <setup>
                    <module>Itaro_Sitemaps</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sitemaps_setup>
            <sitemaps_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sitemaps_write>
            <sitemaps_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sitemaps_read>
        </resources>
        <blocks>
            <sitemaps>
                <class>Itaro_Sitemaps_Block</class>
            </sitemaps>
        </blocks>
        <helpers>
            <sitemaps>
                <class>Itaro_Sitemaps_Helper</class>
            </sitemaps>
        </helpers>
    </global>

    <crontab>
        <jobs>
            <sitemaps>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sitemaps/sitemap::updateall</model>
                </run>
            </sitemaps>
        </jobs>
    </crontab>
</config>