<?xml version="1.0"?>
<config>
    <modules>
        <Sitemaps>
            <version>0.2.0</version>
        </Sitemaps>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Sitemaps before="Mage_Adminhtml">Sitemaps</Sitemaps>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sitemaps>
                    <file>sitemaps.xml</file>
                </sitemaps>
            </updates>
        </layout>
        <menu>
            <catalog translate="title" module="sitemaps">
                <children>
                    <sitemaps>
                        <title>Sitemaps</title>
                        <sort_order>999</sort_order>
                        <action>adminhtml/sitemaps/index</action>
                    </sitemaps>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children> 
                        <catalog>
                            <children>
                                <sitemaps translate="title" module="sitemaps">
                                    <title>Sitemaps</title>
                                </sitemaps>      
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <sitemaps>
                <use>standard</use>
                <args>
                    <module>Sitemaps</module>
                    <frontName>sitemaps</frontName>
                </args>
            </sitemaps>
        </routers>
        <layout>
           <updates>
                <sitemaps>
                     <file>sitemaps.xml</file>
                 </sitemaps>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sitemaps>
                     <files>
                          <default>Sitemaps.csv</default>
                     </files>
                </Sitemaps>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <sitemaps>
                <class>Sitemaps_Model</class>
                <resourceModel>sitemaps_resource</resourceModel>
            </sitemaps>
            <sitemaps_resource>
                <class>Sitemaps_Model_Resource</class>
                <entities>
                    <sitemap>
                        <table>sitemaps</table>
                    </sitemap>
                    <type>
                        <table>sitemap_types</table>
                    </type>
                </entities>
            </sitemaps_resource>
        </models>
        <resources>
            <sitemaps_setup>
                <setup>
                    <module>Sitemaps</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sitemaps_setup>
            <sitemaps_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sitemaps_write>
            <sitemaps_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sitemaps_read>
        </resources>
        <blocks>
            <sitemaps>
                <class>Sitemaps_Block</class>
            </sitemaps>
        </blocks>
        <helpers>
            <sitemaps>
                <class>Sitemaps_Helper</class>
            </sitemaps>
        </helpers>
    </global>

    <crontab>
        <jobs>
            <sitemaps>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sitemaps/sitemap::updateall</model>
                </run>
            </sitemaps>
        </jobs>
    </crontab>
</config>